/* https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */

body{
    background-color: #E6CCB2;
}
.header{
    background-color: #ede0d4;
}

.cart{
    background-color: #B08968;
    height: 85vh;

}

.menu{
    
    max-height:85vh;
    width: 100vw;
}

.cartlist{
    background-color: #fefae0;
}

.total{
    width: auto;
}

img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}


@media(max-width: 576px){
    .thumbnail{
        object-fit: cover;
        width: 200px;
        height: 200px;
    }

    .menu{
       border: 1px solid black;
    }


}

.btn{
    min-width: 0px;
    min-height: 0;
    background-color: #adc178;
    color: #432818;
}
.btn:hover{
    background-color: #41521f;
    color: #efebce;
}


