

.menu{
    max-height:85vh;
    max-width: 100vw;

}
img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.cart{
    /* border: 1px solid tomato; */
    height: 85vh;

}

.total{
    /* border: 1px solid tomato; */
    
}

.btn{
    min-width: none;
    min-height: none;
}

